# Server
SERVER_PORT

# DB
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# JWT expire in minutes
ACCESS_SECRET=
ACCESS_EXPIRATION_TIME=

REFRESH_SECRET=
REFRESH_EXPIRATION_TIME=

USER_OTP_SECRET=

STRIPE_SECRET_KEY=

# Settings
SKIP_OTP_BACK_OFFICE=