# Server
SERVER_PORT

# -- DB --
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# -- JWT --
ACCESS_SECRET=
ACCESS_EXPIRATION_TIME=
# expired in minutes
REFRESH_SECRET=
REFRESH_EXPIRATION_TIME=
USER_OTP_SECRET=

# -- 3rd party --
STRIPE_SECRET_KEY=
SENDGRID_API_KEY=

# -- Settings --
SKIP_OTP_BACK_OFFICE=